.grid {
    display: flex;                       /* establish flex container */
    flex-wrap: wrap;                     /* enable flex items to wrap */
    justify-content: space-around;
    padding-top: 30px;
    
  }
  .cell {
    flex: 0 0 32%;                       /* don't grow, don't shrink, width */
    height: 50px;
    margin-bottom: 5px;
    background-color: #999;
  }

#firstCol {
    border: 2px solid black;
    border-radius: 25px;
    text-align: center;

}
.graph {

}

#newsPanel {
    margin-top: 20px;
    border: 2px solid black;
    text-align: center;
    justify-content: center;
}

.news {
    border-bottom: 1px solid black;
}