@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #2d2e30;
  font-family: 'Abel', sans-serif;
}

#inputValue {
  border-radius: 0px;
  width: 340px;
  height: 47.5px;
  border-style: none;
}
.offset {
  text-decoration: none;
  margin-left: 10px;
  background-color: #2d2e30;
  color: #1fe8b6;
  border: 1px solid #1fe8b6;
  padding: .3rem 1rem;
  position: relative;
  transition: all .5s;
}
.offset::before,
.offset::after {
  content: "";
  position: absolute;
  width: 1rem;
  height: 1rem;
  border-style: solid;
  border-color: #1fe8b6;
  transition: all .5s;
}
.offset::before {
  top: -0.5rem;
  left: -0.5rem;
  border-width: 1.5px 0 0 1.5px;

}
.offset::after {
  bottom: -0.5rem;
  right: -0.5rem;
  border-width: 0 1.5px 1.5px 0;
}
.offset:hover:before,
.offset:hover:after {
  width: calc(100% + 1rem);
  height: calc(100% + 1rem);
  border-color: #fff;
}
.offset:hover{
  color: #272838;
  background-color: #fff;
  border-color: #fff;
}
.grid {
    display: flex;                       /* establish flex container */
    flex-wrap: wrap;                     /* enable flex items to wrap */
    justify-content: space-around;
    padding-top: 30px;
    
  }
  .cell {
    flex: 0 0 32%;                       /* don't grow, don't shrink, width */
    height: 50px;
    margin-bottom: 3px;
    background-color: #999;
    border-radius: 7px;
  }
  .hover-value {
    display: inline-block;
    /*visibility: collapse;*/
    -webkit-transition: width 2s;
    transition: width 2s;
    overflow: hidden;
    display:none;
    top:3px;
    position:relative;
}

.cell:hover .hover-value {
    visibility: visible;
    display: inline-block;
}

#firstCol {
    border: 2px solid black;
    border-radius: 25px;
    text-align: center;

}
.graph {

}

#newsPanel {
    margin-top: 20px;
    border: 2px solid black;
    text-align: left;
    justify-content: center;
    color: #fff;
}
#newsTitle {
    margin: 2px;
    border-bottom: 1px solid black;
    
}

.news {
    
}